@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

$screen-sm-min: 876px;

@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

.App,
.Loader {
  min-height: 100vh;
}

.primary {
  color: orange;
}

.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
